.book img{
    height: 300px;
    display: block;
    margin: auto;
    border-radius: 5px;
}
.book{
    background: lightgray;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
}
.btn{
    width: 100%;
    height: 40px;
    font-size: large;
    font-weight: bold;
    background: lightsalmon;
    border-radius: 15px;
    border: 0;
    padding: 15px 20 ;
}
.btn:hover{
    background: tomato;
    
}